*{
    margin: 10px;
    padding: 15px;
   }
   #wrapper{
    width: 1100px;
    background-color: silver;
    margin-bottom: 20px;
   }
   #header{
    min-height: 150px;
    background-color: green;
    padding: 20px;
    margin-bottom: 10px;
   }
   #navigation{
    min-height: 300px;
    width: 200px;
    background-color: blue;
    display: inline-block;
    vertical-align: top;
   }
   #main_content{
    min-height: 450px;
    width: 795px;
    background-color: red;
    display: inline-block;
    
   }
   .subcontents{
    min-height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
   }
   #advertisement{
    min-height: 120px;
    width: 740px;
    background-color: purple;
    display: inline-block;
   }